body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    overflow-y:auto;
  }

  header,footer
  {
  	background: #2E9AFE;
  	height:10%;
  	text-align: center;
  	color:white;
  }

 
.row
{
  cursor:pointer;
}
